.landing {
  /* background-image: url('./wp3294106.webp');
    height: auto;
    width: 100%;
    background-repeat: no-repeat; */
  background-size: 100% 100%;
  padding: 0;
}

.app {
  background-image: url('./background.jpg');
  /* background-position: fixed; */
  background-size: 100% 100%;
  min-height: 100vh;
  margin: 0px;
  padding: 0px;
  display: flex;
  justify-content: center;
}

@media (max-width: 700px) {
  .app {
    background-size: auto;
  }
}

@media (max-width: 600px) {
  .app {
    min-width: 100vw;
    background-size: 100%;
  }
}
