.landing{
    /* background-image: url('./wp3294106.webp');
    height: auto;
    width: 100%;
    background-repeat: no-repeat; */
    background-size: 100% 100%; 
    padding: 0;
}

.app {
    background-image: url('./background.jpg');
    background-position: fixed;
    background-size: 100% 100%;
    margin: 0px;
    padding: 0px;
    display: flex;
    justify-content: center;
    /* .background {
        background: url('https://c4.wallpaperflare.com/wallpaper/729/301/106/free-world-map-wallpaper-preview.jpg');
        background-size: cover;
        background-position: center;
        position: absolute;
        z-index: 999;
        width: 100vw;
        height: 100vh;
        background-color: blue;
      } */
}

/* background-image: url('../../nombres-paises.jpg') no-repeat center center fixed;
background-repeat: no-repeat;
/* width: auto; */
/* height: 100%; */
/* background-size: 100% 100%; */ 