.button {
    background-color: rgb(247, 171, 124);
    border: solid 1px bisque;
    border-radius: 30px;
    color: rgb(89, 40, 6);
    font-size: 15px;
    padding: 4px 10px;
}

.button:hover {
    background-color: bisque;
    border: solid 1px rgb(89, 40, 6);;
    cursor: pointer;
}
